* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: calc(100% / 6);
  height: calc(100% / 6);
  border: 1px solid black;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}